/*GLOBAL STYLES*/
* {
    box-sizing: border-box;
   /*border: 1px solid red;*/
  }
 body {
     margin-bottom: 50px;
 }
  .dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9fbff;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
    top: 40px;
    right: 0;
    border: #989898;
    padding: 0;
    list-style: none;
    width: 250px;
   
    font-size: .75em;
   
    
}
.dropdown-content ul {
    padding: 10px;
}
.show {
    display:block;
}

.dropdown {
    position: relative;
    display: inline-block;
   
}
.dropmenu:hover, .dropmenu:focus {
    background-color: rgba(153, 102, 255, 0.2);
}
.dropmenu img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.dropmenu {
    display: flex;
}
/*MAIN Styles*/
h3 {
   font-weight: lighter; 
}
/*HEADER StyLES*/
header {
    background-color: #695bb6;
    padding: 15px;
}

.header-title-bar {
    width:100%;
    
}
.circle {
    border-radius: 50%;
    width: 5px;
    height: 5px;
    background-color: #70c66b;
    float: right;
}

.search-box {
    width: 100%;
}
.dashboard-nav input{
width: 100%;
}
.header-title-bar a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

nav {
    background-color: #4c4575;
    text-align: center;
}
nav ul {
    margin: 0;
    padding: 10px;
}

nav li {
display: inline-block;
list-style-type: none;
padding-right: 15px;
}

.traffic-container h2 {
    padding-left: 15px;
}

.traffic-navigation {
    padding-left: 10px;
    padding-right: 10px;
}
.traffic-navigation input{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}



.traffic-navigation li {
    display: inline-block;
    list-style-type: none;
    padding-right: 15px;
   
}

.daily-traffic {
    padding-left: 10px;
    padding-right: 10px;

}

.mobile-users {
    padding-left: 10px;
    padding-right: 10px;

}

.twitter, .facebook, .googleplus {
    display: flex;
    margin: 1em;
    background-color: #f6fafa;
    padding: 1.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

.icon-container {
    background-color: #4c4575;
    border-radius: 50%;
    width: 75px;

}

.socialmedia-container h3{ 
    color: #8f8c8c;;
    margin-top: 15px;
    padding-left: 15px;
    text-align: left;
    font-size: 1em;   
}

.social-stats h3{
    font-weight: bold;
    color: #4c4575;
    margin: 0;
    padding-left: 20px;
    text-align: left;
    
}

.social-stats p{
    font-weight: lighter;
    font-size: 3em;
    color: #8f8c8c;;
    margin: 0;
    padding-left: 20px;
    
}

.member-info {
    display:  flex;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

.new-members, .recent-activity, h3{
    padding-left: 5px;
    color: #8f8c8c;
}
.new-members, .recent-activity, p{
   margin: 5px;
   font-size: .85em;
   padding-top: 5px;
   color: #8f8c8c;
}
.new-members a{
    color: #4c4575; 
}
.member-info img {
   border-radius: 50%;
   width: 40px;
   height: 40px;
}
.member-info-last {
    display: flex;

}
.member-info-last img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
 
.date {
    position: absolute;
    right: 0;
    padding-right: 25px;
}

 .chevron {
    position: absolute;
    right: 0;
    padding-top: 10px;
    padding-right: 15px;
}

.chevron i {
    border: solid #4c4575;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
}

 .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.message-user-container { 
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;  
}

.message-user-container input { 
    margin-top: 20px; 
    border-radius: 3px;
    height: 50px;
}

.message-user-container textarea { 
    width: 100%;
    margin-top: 20px; 
    border-radius: 3px;
    height: 79px;
}

.message-user-container button { 
    width: 100%;
    margin-top: 20px; 
    border-radius: 5px;
    background-color: rgb(76, 69, 117);
    color: #ffffff;
    padding: 15px;
}

.settings-user-container button { 
    width: 100%;
    margin-top: 20px; 
    border-radius: 5px;
    background-color: rgb(76, 69, 117);
    color: #ffffff;
    padding: 15px;
}



.switch-toggle.switch-candy,
.switch-light.switch-candy > span {
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.2);
}

.switch-light.switch-candy input ~ span span:first-child,
.switch-light.switch-candy input:checked ~ span span:nth-child(2),
.switch-candy input:checked + label {
  color: #ffffff;

}

.switch-light.switch-candy span span, .switch-light.switch-candy input:checked ~ span span:first-child, .switch-toggle.switch-candy label {
    color: #ccc;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px #fff;
}

.switch-candy a {
    border: 1px solid #333;
    border-radius: 13px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.45);
    background-color: #70c66b;
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
  }

  .switch-light, .switch-ios {
      width: 90px;
      padding: 15px;
  }

  .switch-ios.switch-light input:checked ~ span {
    border-color: #ccc;
    box-shadow: inset 0 0 0 30px #4c4575;
}

.switch-ios.switch-light input:checked ~ span a {
    border-color: #ccc;
}

.settings {
    display: flex;
}
.light {
    padding-right: 30px;
    padding-top: 20px;
}
.light2 {
    padding-right: 60px;
    padding-top: 20px;

}
 .timezone {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 15px;
 }
select {
    width: 100%;
    height: 50px;
}
.save .cancel{
    width: 30%;
}
.message-user-container .save {
    margin: 5px;
}

.message-user-container .cancel {
    background-color: #a6adad;
    margin: 5px;
}

.settings-user-container .save {
    margin: 5px;
}
.settings-user-container .cancel {
    background-color: #a6adad;
    margin: 5px;
}
.settings-buttons {
    display: flex;
}
/*IMAGES Styles*/
.bell-icon {
    float: right;
} 
.myAvatar {
    text-align: center;
}

.myAvatar p{
    margin: 0;
    padding-top: 5px;
    color: white;
}
.myAvatar img{
    width: 90px;
    height:90px;
    border-radius: 50%;
    padding: 10px;
}

.dashboard-nav {
    display: flex;
    padding: 10px;

}

.dashboard-nav h1{
   margin: 0;
   padding-right: 35px;
}
input {
    width: 100%;
    height: 40px;
    border-radius: 5px;

}

/*ALERT*/

.alert {
    background-color: #695bb6;
    color: white;
    border-radius: 5px;
    margin-left:10px;
    margin-right:10px;
    display: flex;
}

.alert p {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.close-btn {
width: 20px;    
height: 20px;
background-color: transparent;
border: none;
padding-top: 15px;
padding-right: 15px;

}

/*MEDIA QUERIES*/

@media (min-width: 768px) {
    .navigation img{
        padding-left: 15px;
    }

    .dashboard-nav {
        margin-bottom: 10px;   
    }

    .dashboard-nav input {
        width: 60%;
        position: absolute;
        right: 0;
        margin-top: 5px;
        margin-right: 10px;
       
         
    }

    .close-btn {
        width: 20px;    
        height: 20px;
        background-color: transparent;
        border: none;
        padding-top: 10px;
        padding-right: 15px;
        
        }   

    .traffic-navigation {
        display: flex;
    }
    .switch-toggle, .switch-candy input {
        position: absolute;
        right: 0;
        margin-top: 15px;
        margin-right: 15px;
        width: 50%;
    }

    /*GRAPHS*/
    .daily-mobile-container {
        display: flex;
    }
    .daily-traffic{
       width: 50%; 
       border-top: 1px solid #ccc;
       border-bottom: 1px solid #ccc;
       padding-top: 5px;
       padding-bottom: 20px;
    }

    .mobile-users {
        width: 50%; 
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        border-left: 1px solid #ccc;
        padding-top: 5px;
        padding-bottom: 20px;
    }

    /*SOCIAL STATS*/


    .twt-fbk-goog {
        display: flex;
        justify-content: space-evenly;
    }

    .twitter, .facebook, .googleplus {
        display: flex;
        margin: .05em;
        background-color: #f6fafa;
        padding: 1em;
        border: 1px solid #ccc;
        border-radius: 4px;
        text-align: center;
        width: 250px;
        
    }

    .social-stats p {
        font-weight: lighter;
        font-size: 3em;
        color: #8f8c8c;
        margin: 0;
        padding:0;
        text-align: right;
    }
    .new-members, .recent-activity{
        border-top: 1px solid #ccc;
        margin-top: 45px;
        width: 50%;
        position: relative;
    }
    .new-members {
        border-right: 1px solid #ccc;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
    }

    .recent-activity {
        margin-left: 0;
        padding-left: 5px;
    }

    .member-activity {
        display: flex;
        
    }
    .member-info {
        padding: 10px;
        margin-right: 5px;
    }
    .member-info-last {
        display: flex;
        margin-left: 0;
       padding: 10px;
       padding-top: 10px;
       padding-right: 10px;
       padding-left: 10px;
       padding-bottom: 25px;
    }
    .member-info-last img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }
    .message-user-container {
        border-top: 1px solid #ccc;
        border-right: 1px solid #ccc;
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
        width: 49.8%;
        padding-right: 10px;
        padding-left: 10px;
       
    }

    .message-user-container input { 
        margin-top: 20px; 
        border-radius: 3px;
        height: 50px;
    }

    .message-user-container textarea { 
        margin-top: 20px; 
        border-radius: 3px;
        height: 79px;
    }

    .settings-user-container {
        border-top: 1px solid #ccc;
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
        width: 49.9%;
        padding-right: 10px;
        padding-left: 10px;    
    }

    .settings-user-container select {
        height: 50px;
    }

    .settings-user-container .save {
        margin: 5px;
    }

    
    .settings-user-container .cancel {
        background-color: #a6adad;
        margin: 5px;
    }
    .settings-buttons {
        display: flex;
    }

    .message-settings {
        display: flex;
    }

    .alert {
        height: 50px;
        padding: 5px;
    }
} 

@media (min-width: 1024px) {

    header {
        display: flex;
        padding-bottom: 10px;
        position: fixed;
        width: 100%;
        z-index: 3;
    }
    .header-title-bar {
        width: 85%;
    }
    .bell-icon {
        margin-top: 15px;
    }

    .circle {
        margin-top: 10px;
    }

    .myAvatar {
        display: flex;
    }

    .myAvatar img {
        width: 50px;
        height: 50px;
      border-radius:  50%;
      padding: 10px;
    }

    .myAvatar p {
        margin-top: 13px;
    }
   
    .navigation {
        height: 100%;
        float: left;
        width: 80px;
        background-color: #4c4575;
        position: fixed;
        top: 0;
        z-index: -1;
      
    }
    nav {
        background-color: #4c4575;
        text-align: center;
        margin-top: 80px;
    }

    nav li {
        display: block;
        list-style-type: none;
        padding: 0;
        }
        

    .navigation img{
        padding:15px;
    }

    .wrapper {
        width: 92%;
        float: right;
        margin-top: 75px;
        margin-left: 0;
        padding-left: 0 ;
    }
    .dashboard-nav{
        padding: 0;
    }
    .dashboard-nav h1 {
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 10px;
        border-right: 1px solid #ccc;
        font-size: 1.5em;
    }
    .dashboard-nav input {
        height: 40px;
        width: 40%;
        margin-right: 15px;
        margin-top: 18px;
    }

    .search-box {
        border-bottom: 1px solid rgb(233, 230, 230);
        width: 100%;
        background-color: #f9fbff;
    }

    .dropdown-content {
        display: none;
        position: fixed;
        background-color: #f9fbff;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 3;
        top: 60px;
        right: 0;
        border: #989898;
        padding: 0;
        list-style: none;
        width: 250px;
        font-size: .75em;  
        
    }

    .dropdown-content ul {
        padding: 10px;
    }
    .show {
        display:block;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
       
    }
    .dropmenu:hover, .dropmenu:focus {
        background-color: rgba(153, 102, 255, 0.2);
    }
    .dropmenu img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }
    .dropmenu {
        display: flex;
    }
    .alert {
        margin-top: 20px;
    }
    
} 